#root {
    
}

.grid-container{
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  margin: -.5rem;
}

header{
   grid-area: header;
   background-color: #29AB87;
}

main{
  grid-area: main;
  padding: 1rem; 
  background-color: aqua;
}

footer{
   grid-area: footer;
   background-color: #29AB87;
}